# dependencies
/backend/node_modules
/frontend/node_modules

# environment variables
/backend/.env
/backend/.env.*
/frontend/.env
/frontend/.env.*

# runtime data
/data

# logs
/log

# IDE files
*.idea
*.iml
.vscode
